@import "variables";
@mixin bg-img {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
@mixin horizont-center {
  left: 50%;
  transform: translateX(-50%);
}
@mixin title($title-color) {
  font-weight: $bold;
  font-size: 18px;
  text-transform: uppercase;
  color: $title-color;
}
@mixin text($text-color) {
  font-weight: $normal;
  font-size: 14px;
  text-transform: uppercase;
  color: $text-color;
}
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
