@import "../mixin";
@import "variables";
.btn {
  display: block;
  padding: 15px;
  margin: 0;
  box-sizing: border-box;
  width: $btn-width;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
  @include title($btn-text-color);
  background-color: $btn-color;
  line-height: 26px;
  &:hover {
    background-color: $btn-color-hvr;
  }
  &:active {
    background-color: $btn-color-active;
    color: $btn-text-color-active;
  }
  &:disabled {
    background-color: $btn-color-disabled;
    color: $btn-text-color-disabled;
  }
}
.header-toogle-btn {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 0;
  z-index: 2;
  padding: 0;
  cursor: pointer;
  border: none;
  width: 23px;
  height: 22px;
  background-color: transparent;
  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 9px;
    width: 23px;
    height: 4px;
    box-shadow: 0 7px #81b3d2,0 -7px #81b3d2;
    background-color: #81b3d2;
  }
  &--close {
    &::before {
      transform: rotate(45deg);
      box-shadow: none;
      background-color: #ffffff;
      top: 11px;
    }
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 23px;
      height: 4px;
      background-color: #ffffff;
      transform: rotate(-45deg);
    }
  }
  &--open {
    content: "";
    position: absolute;
  }
  @media #{$tablet} {
    display: none;
  }
}
.pop-up-close-button {
  width: 180px;
  position: absolute;
  position: relative;
  margin-top: 25px;
  @include horizont-center;
  &--success {
    margin: 0;
    width: 100%;
  }
  @media #{$tablet} {
    width: 270px;
    margin-top: 30px;
    &--success {
      margin: 0;
    }
  }
  &--success {
    margin: 0;
    width: 100%;
  }
}
