@import "../mixin";
@import "variables";
.btn {
  display: block;
  padding: 0;
  margin: 0;
  height: 58px;
  width: 280px;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
  @include title($buttons-text-color);
  background-color: $buttons-color;
}
