@import "../mixin";
@import "variables";
.btn {
  display: block;
  padding: 0;
  margin: 0;
  height: $btn-height;
  width: $btn-width;
  text-align: center;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
  @include title($btn-text-color);
  background-color: $btn-color;
  line-height: $btn-height;
}
.header-toogle__btn {
  position: absolute;
  top: 20px;
  right: 5px;
  @media #{$tablet} {
    display: none;
  }
  @media #{$desktop} {
    display: none;
  }
}
