@import "../mixin";
@import "../variables";
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 10px;
  @media #{$tablet} {
    // display: table-cell;
    // width: 33%;
    margin: 0;
  }
}
.copyright__title {
  @include text(#000000);
  line-height: 26px;
  margin: 0;
}
.copyright__icon {
  width: 27px;
  height: 34px;
  margin-top: 8px;
  margin-left: 10px;
  &:hover {
    fill: #81b3d2;
  }
  &:active {
    fill: #b2b2b2;
  }
}
