@import "../mixin";
@import "../variables";
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  margin-bottom: 10px;
  @include text(#000000);
  line-height: 26px;
  @media #{$tablet} {
    // display: table-cell;
    // width: 33%;
    margin: 0;
  }
}
.copyright__icon {
  width: 40px;
  height: auto;
  margin-top: 5px;
  margin-left: 10px;
}
