@import "../mixin";
@import "variables";
.failure-pop-up {
  width: 320px;
  height: 280px;
  position: fixed;
  top: 20%;
  @include horizont-center;
  padding: 45px 45px 0;
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  z-index: 10;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
  @media #{$tablet} {
    width: 400px;
    height: 347px;
    padding: 60px 60px 0;
    top: 10%;
  }
  &--hidden {
    display: none;
  }
  .failure-pop-up__title {
    @include title($title-color);
    line-height: 26px;
    margin: 0;
    @media #{$tablet} {
      font-size: 30px;
      line-height: 40px;
    }
  }
  .failure-pop-up__description {
    @include text($text-color);
    line-height: 24px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}
