@import "../mixin";
@import "../variables";
.gallery {
  display: flex;
  flex-direction: column;
  margin-bottom: 106px;
  @media #{$tablet} {
    flex-direction: row;
    flex-wrap: wrap;
    width: 648px;
    margin: 0 auto;
  }
  @media #{$desktop} {
    width: 100%;
  }
}
.gallery__card {
  display: block;
  margin: 0;
  position: relative;
  padding: 23px 20px 18px 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  @media #{$only-mobile} {
    &:first-child {
      padding-top: 10px;
    }
  }
  @media #{$tablet} {
    padding: 0;
    width: 50%;
    border: none;
    &:first-of-type {
      width: 100%;
    }
  }
  @media #{$desktop} {
    width: auto;
    min-width: 400px;
  }
}
.gallery__img {
  display: block;
  width: 100%;
  @media #{$tablet} {
    height: 267px;
    &--full {
      height: 400px;
    }
  }
}

.gallery__title-photo {
  margin: 0;
  @include text(#000000);
  font-weight: $bold;
  line-height: 24px;
  @media #{$desktop} {
    color: #ffffff;
  }
}
.gallery__author-label {
  margin: 0;
  @include text($text-color);
  line-height: 24px;
  text-transform: none;
  @media #{$desktop} {
    color: #ffffff;
  }
}
.gallery__video {
  width: 100%;
  margin: 0;
  position: relative;
  @media #{$tablet} {
    width: 100%;
    height: 500px;
  }
  @media #{$desktop} {
    width: 800px;
    margin: 0 auto;
  }
}
.gallery__video-preview {
  width: 100%;
  margin: 0;
}
.gallery__video-preview-img {
  width: 100%;
  @media #{$only-mobile} {
  }
}
figcaption {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  @media #{$tablet} {
    flex-direction: row;
    align-items: center;
    position: relative;
    min-height: 60px;
    padding: 9px 36px 11px 20px;
    background-color: #f2f2f2;
  }
  @media #{$desktop} {
    position: absolute;
    bottom: 0;
    min-height: 80px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.3);
  }
}
.gallery__card:first-of-type {
  figcaption {
    padding-right: 20px;
  }
}
.gallery__card:nth-of-type(2n) {
  figcaption {
    padding-right: 29px;
  }
}
