@import "../mixin";
@import "../variables";
.hash-tag {
  @include title($title-color);
  font-size: 21px;
  line-height: 26px;
  @media #{$tablet} {
    display: table-cell;
    width: 33%;
    padding: 0;
  }
}
