@import "../variables";
@import "../mixin";
.intro {
  padding: 37px 25px 41px;
  position: relative;
  text-align: center;
  &--review {
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  }
  &--main {
    padding-bottom: 28px;
  }
  &::after {
    @media #{$only-mobile} {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 0;
    background-image: url("../img/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 37px;
    }
  }
  @media #{$tablet} {
    padding: 74px 165px 67px;
    &--main {
      padding: 49px 140px 51px;
    }
    &.intro--gallery {
      padding-bottom: 72px;
    }
    &--review {
    padding-bottom: 76px;
    }
  }
    @media #{$desktop} {
      padding: 111px 380px 95px;
      &.intro--gallery {
        padding-bottom: 74px;
      }
      &--main {
        padding: 49px 355px 51px;
      }
      &--review {
      padding-bottom: 61px;
      }
    }
  }
.intro__title {
    @include title($title-color);
    line-height: 26px;
    margin: 0;
    @media #{$tablet} {
      font-size: 30px;
    }
    &--main {
   @media #{$tablet} {
      font-size: 21px;
     }
    }
  }
.intro__text {
  margin-top: 27px;
  margin-bottom: 0;
  @include text($text-color);
  line-height: 26px;
  &--gallery {
    line-height: 24px;
    margin-top: 25px;
  }
  &--review {
    line-height: 24px;
    margin-top: 25px;
  }
   @media #{$tablet} {
     margin-top: 28px;
   }
  }
