@import "../variables";
@import "../mixin";
.intro {
  padding-top: 33px;
  padding-bottom: 20px;
  text-align: center;
  &__title {
    @include title($title-color);
    line-height: 26px;
    margin-top: 0;
  }
  &__text {
    margin-top: 16px;
    margin-bottom: 0;
    @include text($text-color);
    line-height: 26px;
  }
}
