@import "../mixin";
@import "../variables";
.likes {
  display: flex;
  align-items: center;
  margin-top: 6px;
  @media #{$tablet} {
    margin: 0;
  }
}
.likes__icon {
  width: 23px;
  height: 21px;
  @media #{$tablet} {
    fill: #a9a9a9;
  }
  @media #{$desktop} {
    fill: #ffffff;
  }
}
.likes__count {
  margin-left: 14px;
  @include text(#000000);
  font-weight: $bold;
  line-height: 24px;
  @media #{$tablet} {
    margin-left: 10px;
  }
  @media #{$desktop} {
    color: #ffffff;
  }
}
