@import "../mixin";
@import "variables";
.main-nav {
  @media #{$tablet} {
    position: relative;
    width: 100%;
  }
}
.main-nav__item {
    padding: 8px 0;
    text-align: center;
    font-family: $font-main;
    font-weight: $bold;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    background-color: #81b3d2;
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2), inset 0px -1px 0px 0px rgba(0,0,0,0.2);
    &:first-of-type {
    box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.2), inset 0px -1px 0px 0px rgba(0,0,0,0.2);
    @media #{$tablet} {
      box-shadow: none;
     }
    }
    @media #{$tablet} {
      width: 20%;
      padding: 0;
      font-size: 14px;
      line-height: 56px;
      box-shadow: none;
      &:nth-child(2) {
        margin-right: auto;
      }
      &:nth-child(3) {
        margin-left: auto;
      }

      // &:nth-of-type(n+1):nth-of-type(-n+2) {
      //   float: left;
      // }
      // &:nth-of-type(n+3):nth-of-type(n) {
      //   float: right;
      // }
      background-color: transparent;
    }
    a {
      color: #ffffff;
      @media #{$tablet} {
        color: #000000;
      }
    }
  }
.main-nav__list {
    display: flex;
    flex-direction: column;
    @media #{$tablet} {
      flex-direction: row;
      // @include clearfix;
    }
  }
