@import "../variables";
@import "../mixin";
.map {
  position: relative;
}
.map__img {
  width: 100%;
  height: auto;
  @media #{$desktop} {
    height: 350px;
  }
}
.map__marker {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 27px;
  height: 27px;
}
