@import "../mixin";
@import "../variables";
.offer {
  padding-top: 20px;
  text-align: center;
  @media #{$tablet} {
    padding-top: 60px;
  }
  &__title {
    margin-top: 0;
    @include title($title-color);
    font-size: 21px;
    line-height: 26px;
  }
  &__text {
    margin-bottom: 0;
    @include text($text-color);
    line-height: 24px;
  }
  &__tittle--gallery {
    @media #{$tablet} {
      font-size: 30px;
    }
  }
  &__text--gallery {
    @media #{$tablet} {
    margin-bottom: 80px;
    }
  }
}
