@import "../mixin";
@import "../variables";
.offer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  @media #{$tablet} {
    padding-top: 60px;
  }
}
.offer__title {
    margin-top: 0;
    @include title($title-color);
    font-size: 21px;
    line-height: 26px;
  }
.offer__text {
    margin-bottom: 0;
    @include text($text-color);
    line-height: 24px;
  }
.offer__tittle--gallery {
    @media #{$tablet} {
      font-size: 30px;
    }
  }
.offer__text--gallery {
    @media #{$tablet} {
    margin-bottom: 80px;
    }
  }
.offer__search-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 38px;
  margin-bottom: 50px;
}
