@import "../variables";
.page-footer {
  padding-top: 34px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &--gallery {
    padding-top: 30px;
  }
  &--form {
    padding-top: 72px;
  }
  @media #{$tablet} {
    &.page-footer--gallery {
      padding-top: 76px;
    }
    &--form {
      padding-top: 96px;
    }
    flex-direction: row;
    padding: 34px 60px 30px;
    align-items: center;
  }
  @media #{$desktop} {
    padding: 35px 127px 31px 132px;
    &.page-footer--gallery {
      padding-top: 121px;
    }
    &--form {
      padding-top: 32px;
    }
  }
}
