@import "../mixin";
@import "../variables";
.page-promo {
  position: relative;
  z-index: 0;
  min-height: 158px;
  @include bg-img;
  display: flex;
  justify-content: center;
  @media #{$tablet} {
    min-height: 290px;
  }
  @media #{$desktop} {
    min-height: 301px;
  }
  &--main {
    min-height: 390px;
    @media #{$tablet} {
      min-height: 518px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 26px;
  }
}
.page-promo__title {
    // position: relative;
    // @include horizont-center(229px);
    margin-top: 52px;
    &--main {
      // @include horizont-center(282px);
      margin-top: 90px;
    }
  }
