@import "../mixin";
.page-header {
  &__top-row  {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    min-height: 56px;
    @media #{$tablet} {
      position: static;
      min-height: 0;
    }
  }

  &__logo {
    position: absolute;
    @include horizont-center(102px);
    z-index: 1;
    @media #{$tablet} {
      top: 0;
    }
  }
}
