@import "../mixin";
.page-header {
  position: relative;

  &__top-row  {
    width: 100%;
    background-color: #ffffff;
    min-height: 56px;
  }

  &__logo {
    position: absolute;
    @include horizont-center(102px);
    z-index: 15;
  }
}
