@import "../variables";
.page-footer {
  // width: 100%;
  padding-top: 34px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media #{$tablet} {
    // display: table;
    flex-direction: row;
    padding: 30px 60px 30px;
    align-items: center;
  }
}
