@import "../mixin";
@import "variables";
.photo-reason {
  // @include clearfix;
  display: flex;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
}
.photo-reason__img {
    width: 100%;
    @media #{$tablet} {
      // float: right;
      width: 67%;
      }
  }
