@import "../mixin";
@import "variables";
.photo-reason {
  display: flex;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
}
.photo-reason__img {
    width: 100%;
    @media #{$tablet} {
      width: 67%;
      }
  }
