@import "../mixin";
@import "variables";
.photo-reason {
  display: flex;
  flex-direction: column;
  @media #{$tablet} {
    flex-direction: row;
  }
}
.photo-reason__img {
  width: 100%;
  @media #{$tablet} {
    width: 66.6667%;
    height: 257px;
    overflow: hidden;
  }
}
.photo-reason__img img {
  display: block;
  width: 100%;
  height: auto;
  @media #{$only-mobile} {
    height: 257px;
  }
  @media #{$desktop} {
    margin-top: -70px;
  }
}
