.reasons-group {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #eeeeee;
  @media #{$tablet} {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
