@import "../mixin";
@import "../variables";
.reason__title {
    margin-top: 0;
    margin-bottom: 0;
    @include title($title-color);
    line-height: 26px;
    @media #{$tablet} {
      font-size: 21px;
    }
    @media #{$desktop} {
      padding: 0 80px;
      &--white {
        padding: 0 59px;
      }
    }
  }
.reason__text, .reason__number {
    @include text($text-color);
    line-height: 21px;
  }
  .reason__number {
    margin-top: 10px;
    margin-bottom: 14px;
    position: relative;
    @media #{$tablet} {
      margin-bottom: 21px;
    }
    &::after {
     content: "";
     position: absolute;
     top: 10px;
     left: 39.5%;
     border-bottom: 2px solid #979797;
     width: 9px;
    }
    &::before {
     content: "";
     position: absolute;
     top: 10px;
     right: 39.5%;
     border-bottom: 2px solid #979797;
     width: 9px;
    }
  }
.reason__text {
    margin-top: 0;
    margin-bottom: 0;
  }
  .reason {
    text-align: center;
    @media #{$only-mobile} {
      padding: 27px 15px;
    }
    @media #{$tablet} {
      padding-top: 50px;
      padding-bottom: 0;
    }
    &--blue {
      background-color: #81b3d2;
      color: #ffffff;
      padding-top: 54px;
      padding-bottom: 42px;
      .reason__number {
        &::after {
         left: 41%;
          border-bottom: 2px solid #bcd6e7;
        }
        &::before {
         right: 41%;
         border-bottom: 2px solid #bcd6e7;
        }
      }
      @media #{$tablet} {
        box-sizing: border-box;
        padding: 44px 65px 41px;
        width: 33.34%;
        }
      @media #{$desktop} {
        padding-top: 51px;
      }
    }
    &--grey {
      background-color: #eeeeee;
      color: #000000;
      @media #{$only-mobile} {
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }
      @media #{$tablet} {
        width: calc(100%/3);
        padding: 43px 50px 45px;
      }
      @media #{$desktop} {
        padding-bottom: 67px;
      }
    }
    &--grey:last-child {
      @media #{$only-mobile} {
        border: none;
      }
    }
    &--right{
      padding-top: 37px;
      @media #{$tablet} {
      order: 1;
      padding-top: 44px;
      }
      @media #{$desktop} {
      padding-top: 51px;
      }
    }
  }
