@import "../mixin";
@import "../variables";
.review-form {
  @media #{$tablet} {
    display: flex;
    flex-wrap: wrap;
  }
}
.review-form__field {
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  border-top: 1px solid #e5e5e5;
  @media #{$tablet} {
    border: none;
    position: relative;
  &--feels {
  order: -1;
  width: 50%;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 6px;
    height: 292px;
    border-left: 1px solid #dbdbdb;
  }
  }
  &--name {
  width: 50%;
  }
 }
}
.review-form__group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  &--sights {
    margin: 0;
  }
  @media #{$tablet} {
    margin-top: 57px;
    &--sights {
      margin-top: 14px;
      padding-left: 94px;
      padding-right: 35px;
    }
    &--contacts {
      margin-top: 24px;
    }
  }
  @media #{$desktop} {
    justify-content: space-between;
    &--contacts {
      margin-top: 73px;
    }
    &--sights {
      margin-top: 12px;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.review-form__title
  {
    margin: 0;
    text-align: center;
    @include title($title-color);
    line-height: 26px;
    @media #{$tablet} {
      font-size: 21px;
      &--sights {
        padding: 0 155px 0;
      }
      &--left {
      text-align: left;
      }
      &--line {
        position: relative;
        &::after {
         content: "";
         position: absolute;
         top: 13px;
         left: 0;
         border-bottom: 1px solid #dbdbdb;
         width: 125px;
        }
        &::before {
         content: "";
         position: absolute;
         top: 13px;
         right: 0;
         border-bottom: 1px solid #dbdbdb;
         width: 125px;
        }
      }
      &--line-center {
        &::after, &::before {
        top: 27px;
        }
      }
      @media #{$desktop} {
        &::after, &::before {
        width: 280px;
        }
        &--sights {
          padding: 0 300px 0;
        }
      }
    }
    @media #{$desktop} {
    &--desktop-impress {
      margin-left: 81px;
    }
    &--desktop-name{
      margin-left: 0;
    }
   }
    &--visually-hidden {
        @media #{$tablet} and #{$tablet-max} {
          display: none;
        }
    }
  }
.review-form__label
  {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 20px;
    @include text($text-color);
    line-height: 26px;
    &:first-child{
      margin: 0;
    }
  &--column {
    flex-direction: column;
    margin: 0;
    @media #{$desktop} {
      flex-direction: row;
    }
  }
  &--phone,&--email {
    align-items: flex-start;
    @media #{$desktop} {
    align-items: center;
    }
    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      content: "";
      background-color: #e6e6e6;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  &--phone {
    @media #{$desktop} {
      width: calc(400/960*100%);
    }
    &::after {
      background-image: url("../img/icon-phone.svg");

    }
  }
  &--email {
    margin-top: 10px;
    @media #{$tablet} {
      margin-top: 20px;
    }
    @media #{$desktop} {
      width: calc(480/960*100%);
      margin-top: 0;
    }
    &::after {
      bottom: 0;
      background-image: url("../img/icon-mail.svg");
    }
  }
  &--visually-hidden {
    @media #{$desktop} {
      display: none;
    }
  }
}
  .review-form__label-title {
    margin-left: 22px;
    @media #{$desktop} {
        margin-left: 0;
    }
    &--hidden {
        @media #{$desktop} {
          display: none;
      }
    }
  }
  .review-form__wrapper {
    padding: 18px 20px 25px 20px;
    @media #{$tablet} {
      padding: 0 60px 70px 60px;
      position: relative;
      &--contacts {
      padding-bottom: 52px;
      }
      &--right {
        padding-left: 0;
      }
      &--left {
        padding-right: 0;
      }
      &--text-area {
        padding-bottom: 30px;
      }
      &--name {
        padding-left: 58px;
      }
    }
    @media #{$desktop} {
      padding: 0 120px 65px 120px;
      &--contacts {
      padding-bottom: 52px;
      }
      &--text-area {
        padding-bottom: 26px;
      }
      &--name {
        padding-left: 80px;
      }
    }
    &--sights {
      padding-bottom: 18px;
      @media #{$tablet} {
        padding-bottom: 67px;
      }
      @media #{$desktop} {
        padding-bottom: 65px;
      }
    }

  }
  .review-form__input {
   width: 100%;
   height: 58px;
   margin-left: 20px;
   padding: 0 22px;
   background-color: #f2f2f2;
   border: none;
   font-weight: $bold;
   font-size: 18px;
   color: #000000;
   line-height: 26px;
   &:hover {
     background-color: #e5e5e5;
   }
   &:focus {
     box-shadow: inset 0px 0px 0px 4px rgba(229,229,229,1);
     background-color: #ffffff;
   }
  }
  .review-form__input-contacts {
    width: 100%;
    box-sizing: border-box;
    // margin: 9px 0 0 0;
    height: 58px;
    padding: 0 60px 0 22px;
    background-color: #f2f2f2;
    border: none;
    font-weight: $bold;
    font-size: 18px;
    color: #000000;
    line-height: 26px;
    &:hover {
      background-color: #e5e5e5;
    }
    &:focus {
      box-shadow: inset 0px 0px 0px 4px rgba(229,229,229,1);
      background-color: #ffffff;
    }
    @media #{$desktop} {
      width: 314px;
      margin-top: 0;
      margin-left: 22px;
    }
  }
  .review-form__phone-error {
    margin-top: 4px;
    margin-left: 21px;
    font-size: 14px;
    line-height: 26px;
    color: #ff5c5c;
    @media #{$tablet} {
      position: absolute;
      margin: 0;
      top: 50px;
      right: 61px;
    }
    @media #{$desktop} {
      top: 66px;
      left: 227px;
      &--visually-hidden {
        // display: none;
      }
    }
  }
  .review-form__input-radio, .review-form__input-check {
    display: none;
  }
  .review-form__label-radio, .review-form__label-check {
    padding-bottom: 20px;
    padding-top: 25px;
    padding-left: 80px;
    width: 100%;
    position: relative;
  }
  .review-form__label-radio {
      @include title($text-color);
      text-transform: none;
      padding-top: 26px;
      padding-bottom: 19px;
      &:first-of-type {
        padding-top: 19px;
        padding-bottom: 19px;
      }
      @media #{$tablet} {
        padding-top: 33px;
      }
      @media #{$desktop} {
        padding-top: 35px;
      }
  }

  .review-form__input-radio + .review-form__label-radio::before {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 58px;
    height: 58px;
    content: "";
    border-radius: 50%;
    background-color: #e6e6e6;
    &:hover {
      background-color: #e5e5e5;
    }
    &:active {
      background-color: #d5d5d5;
    }
  }
.review-form__input-radio:checked + .review-form__label-radio::after {
  display: block;
  position: absolute;
  left: 17px;
  bottom: 18px;
  width: 22px;
  height: 22px;
  content: "";
  border-radius: 50%;
  background-color: #000000;

}
.review-form__input-check + .review-form__label-check::before {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 56px;
  height: 56px;
  content: "";
  border-radius: 10%;
  background-color: #e6e6e6;
  &:hover {
    background-color: #e5e5e5;
  }
  &:active {
    background-color: #d5d5d5;
  }
}
.review-form__input-check:checked + .review-form__label-check::after {
  position: absolute;
  width: 17px;
  height: 9px;
  left: 18px;
  bottom: 26px;
  transform: rotate(-45deg);
  content: "";
  border-left: 3px solid #000000;
  border-bottom: 3px solid #000000;
}
.review-form__text-area {
  width: 100%;
  height: 160px;
  padding: 16px 20px;
  margin-top: 15px;
  box-sizing: border-box;
  border: none;
  font-family: "PTSans", "Arial", sans-serif;
  font-weight: $bold;
  font-size: 18px;
  color: #000000;
  line-height: 26px;
  background-color: #e6e6e6;
  @media #{$tablet} {
    margin-top: 57px;
  }
}
.review-form__label-check {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  @media #{$tablet} {
    width: 50%;
    box-sizing: border-box;
    padding-top: 42px;
    padding-bottom: 20px;
    &:nth-of-type(2) {
      order: 2;
    }
    &:nth-of-type(3) {
      order: 1;
    }
  &:nth-of-type(4) {
      order: 3;
    }
  }
  @media #{$desktop} {
    width: 205px;
    box-sizing: border-box;
    &:nth-of-type(1) {
      margin-right: 22px;
    }
    &:nth-of-type(3) {
      margin-right: 21px;
    }
  }
}
.review-form__footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 27px 20px 0 20px;
  box-sizing: border-box;
  @media #{$tablet} {
    padding: 27px 60px 0 60px;
    justify-content: space-between;
    align-items: center;
  }
  @media #{$desktop} {
    padding: 32px 120px 70px 120px;
    justify-content: space-between;
    align-items: center;
  }
}
.review-form__btn {
  @media #{$tablet} {
    width: 50%;
  }
}
.review-form__legend {
    @media #{$only-mobile} {
      display: none;
    }
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}
