.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
  &:hover {
    background-color: #669ec0;
  }
  &:active {
    background-color: #5496bd;
    & + .social__icon {
    opacity: 0.3;
   }
  }
  &:last-of-type {
    margin-right: 0px;
  }
}
