.social {
    margin-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
  @media #{$tablet} {
     margin-top: 0;
     margin-left: -12px;
  }
  @media #{$desktop} {
     margin-left: -17px;
  }
}
.social__icon {
  width: 18px;
  height: 14px;
  fill: #ffffff;
}
