@import "../mixin";
@import "variables";
.success-pop-up {
  width: 320px;
  height: 324px;
  position: fixed;
  top: 20%;
  @include horizont-center;
  box-sizing: border-box;
  background-color: #ffffff;
  text-align: center;
  z-index: 10;
  @media #{$tablet} {
    width: 638px;
    height: 347px;
    top: 10%;
  }
  &--hidden{
    display: none;
  }
  .success-pop-up__title {
  @include title($title-color);
  line-height: 26px;
  margin: 0;
  @media #{$tablet} {
    // padding: 0 30px;
    font-size: 30px;
    line-height: 40px;
    }
  }
  .success-pop-up__info-container {
      padding: 55px 40px 0;
      @media #{$tablet} {
      padding: 60px 110px 0;
    }
  }
  .success-pop-up__button-container {
    padding: 20px;
    background-color: #f2f2f2;
    @media #{$tablet} {
    padding: 44px 92px;
    }


  }
  .success-pop-up__description {
  @include text($text-color);
  line-height: 24px;
  margin-top: 30px;
  margin-bottom: 35px;
  }
}
